<div id="<%= dom_id investigator %>">
  <p>
    <strong>Nombre:</strong>
    <%= investigator.first_name %>
  </p>

  <p>
    <strong>Apellidos:</strong>
    <%= investigator.last_name %>
  </p>

  <p>
    <strong>Cédula:</strong>
    <%= investigator.id_card %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= investigator.email %>
  </p>

</div>
