<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "Page Name", root_path, class: "navbar-brand", id: "logo", rel: "prev" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Proyectos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Agregar nuevo proyecto</a></li>
            <li><a class="dropdown-item" href="#">Listar proyectos</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Investigadores
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <%= link_to new_investigator_path, class:"dropdown-item" do %>
                <i class="bi bi-person-plus"></i>
                <span>Agregar nuevo investigador</span>
              <% end %>
            </li>
            <li>
              <%= link_to investigators_path, class:"dropdown-item" do %>
                <i class="bi bi-person"></i>
                <span>Listar investigadores</span>
              <% end %>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Actas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Agregar nueva acta</a></li>
            <li><a class="dropdown-item" href="#">Listar actas</a></li>
          </ul>
        </li>
      </ul>
      <% if current_user %>
        <form class="d-flex">
          <div class="row">
            <div class="col">
              <div class="me-2">
                <%= link_to edit_user_registration_path, class:"btn btn-sm btn-primary" do %>
                  <i class="bi bi-person"></i>
                  Administrar cuenta
                <% end %>
              </div>
            </div>
            <div class="col">
              <div class="me-2">
                <%= link_to destroy_user_session_path, class:"btn btn-sm btn-primary", data: { turbo_method: :delete } do %>
                  <i class="bi bi-box-arrow-left"></i>
                  Cerrar sesión
                <% end %>
              </div>
            </div>
          </div>
        </form>
      <% else %>
        <form class="d-flex">
          <div class="row">
            <div class="col">
              <div class="me-2">
                <%= link_to new_user_session_path, class:"btn btn-sm btn-primary" do %>
                  <i class="bi bi-box-arrow-left"></i>
                  Iniciar sesión
                <% end %>
              </div>
            </div>
          </div>
        </form>
      <% end %>
    </div>
  </div>
</nav>
