<div class="container">
  <%= form_with(model: minute) do |form| %>
    <div class="row pb-2">
      <%= form.label "Número", style: "display: block"%>
      <%= form.number_field :number, class: "form-control" %>
    </div>
    <div class="row pb-2">
      <%= form.label "Fecha", style: "display: block"%>
      <%= form.date_field :date, class: "form-control" %>
    </div>
    <div class="row pb-2">
      <%= form.label "Documento de acta", style: "display: block"%>
      <%= form.file_field :file, class: "form-control", direct_upload: true %>
    </div>
    <br>
    <hr>
    <div class="row pb-2">
      <%= render "minutes/articles/articles_form", minute: minute %>
    </div>
  <% end %>
</div>
